@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');
/* ------------- variables */
:root{
    --green-color:#7ACC2D;
    --white-color:white;
    --black-color:#313337;
    /* Tipografia */
    --normal:12px;
    /* Espaciado */
    --space:10px;
    /* Box shadow */
    --box:0 0 2px 1px #e6e5e9;
}
/* ------------- variables */
html, body{
    padding: 0;
    margin: 0;
    font-size: var(--normal);
    font-family: 'Open Sans', sans-serif;
}

p{
    font-size: var(--normal);
}

nav{
    display: flex;
    background-color: var(--green-color);
    padding: var(--space);
    justify-content: space-between;
    align-items: center;
    width: 100%;
    min-height: 60px;
}

nav a{
    text-decoration: none;
    color: var(--black-color);
    font-size: var(--normal);
}

nav a:hover{
    color: var(--white-color);
}

nav ul{
    display: flex;
    padding-right: 20px;
}

nav ul li{
    padding-left: 20px;
    list-style: none;
}

hr{
    opacity: .2;
}

/* ------------------------------ Main section*/

.main_section{
    padding: 15%;
    text-align: center;
}

/* ------------------------------ Products*/
.products{
    background-image: url("../images/curve.png");
    height: 95px;
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    padding: 15%;
    display: flex;
}

.product{
    padding: 20px;
    margin-top: -226px;
}

.content{
    background-color: var(--white-color);
    padding: 20px;
    box-shadow: var(--box);
    border-radius: 3px;
}

.image-product{
    text-align: center;
}

.main_button{
    background-color: var(--green-color);
    width: 100%;
    padding: var(--space);
    font-size: var(--normal);
    color: var(--white-color);
    border: 0px;
    cursor: pointer;
    border-radius: 2px;
}

.main_button:hover{
    background-color: #5e9e22;
}

/* Beneficios */
.beneficios{
    padding: 10%;
    display: flex;
  }
  
.beneficio{
    text-align: center;
    padding: 20px;
}
  
.beneficio img{
    max-height: 100px
}
  
.text_beneficio{
    text-align: justify;
}

/* Mentions */
.mentions{
    display: flex;
    padding: 5%;
}

.mention img{
    width: 100%;
}

h2.mention_title{
    text-align: center;
}

.mention{
    padding: var(--space);
}

.content_mention{
    box-shadow: 0px 0 2px 1px #e6e5e9;
}

.mention .text{
    padding: var(--space);
}

/* ------------------------------ Venta*/

.modulo_pago{
    background-color: var(--white-color);
    box-shadow: var(--box);
    padding: var(--space);
}

.modulo_pago_images{
    max-width: 150px;
    text-align: center;
    width: 100%;
    margin: auto;
}

/* ------------------------------ Footer*/
footer{
    display: flex;
    justify-content: space-between;
    font-size: var(--normal);
    background-color: var(--black-color);
    padding: var(--space);
    color: var(--white-color);
}